*{
    margin: 0;
    font-size: 14px;
    font-family: Tahoma;
}

#main_card{
    position: relative;
    height:300px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 2px gray;
    margin: 10% auto;
    padding: 20px 20px 20px 20px;

}

#h1_text {
    position: relative;
    font-size: 32px;
    margin-top: 20px;
    text-align: center;
}

#input_login{
    position: relative;
    margin: 10px 45px 35px;
    padding: 5px 10px;
    top: 30px;
    border-radius: 7px;
    border: solid 1px black;
}

#input_password{
    position: relative;
    margin: 10px 45px;
    padding: 5px 10px;
    border-radius: 7px;
    border: solid 1px black;

}

#btn_enter{
    position: relative;
    margin: 20px 77px;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(252, 152, 112);
    color: white;
    border: none;
}

#status_auth{
    position: relative;
    padding: 5px 5px 5px 5px;
    white-space: nowrap;
    text-align: center;
}

/* ===== free auth ===== */
#free_check{
    position: relative;
    text-align: center;
    margin-top: -7%;
}

#free_auth{
    position: relative;
    white-space: nowrap;
    text-align: center;
    color: rgb(174, 174, 174);
}

#input_login_free{
    position: relative;
    margin: 10px 45px 35px;
    padding: 5px 10px;
    top: 30px;
    border-radius: 7px;
    border: solid 1px black;
    display: none;
}

#btn_enter_free{
    position: relative;
    margin: 60px 77px;
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(252, 152, 112);
    color: white;
    border: none;
    display: none;
}

/* === check-box ===*/
.checkbox.style-e {
    display: inline-block;
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox.style-e input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  .checkbox.style-e input:checked ~ .checkbox__checkmark {
    background-color: rgb(255, 226, 214);
  }
  .checkbox.style-e input:checked ~ .checkbox__checkmark:after {
    left: 21px;
  }
  .checkbox.style-e:hover input ~ .checkbox__checkmark {
    background-color: #eee;
  }
  .checkbox.style-e:hover input:checked ~ .checkbox__checkmark {
    background-color: rgb(255, 226, 214);
  }
  .checkbox.style-e .checkbox__checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    height: 22px;
    width: 40px;
    background-color: #eee;
    transition: 0.25s ease;
    border-radius: 11px;
  }
  .checkbox.style-e .checkbox__checkmark:after {
    content: "";
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    display: block;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.25s ease;
  }